#about {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
}

.page_description {
  width: 100%;
  margin-bottom: 4rem;
}

#profile_photo {
  border-radius: 50%;
  height: 30vw;
  max-height: 450px;
  width: 30vw;
  max-width: 450px;
  margin-left: 8vw;
  margin-top: -5vw;
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  text-align: center;
}

#profile_photo:hover {
  transform: scale(0.99);
}

@media screen and (max-width: 550px){
    #about {
        display: grid;
        grid-template-columns: 0.8fr;
      }

    #profile_photo{
        visibility: hidden;
    }
}

button {
  border: 1px solid #41423e;
  background-color: #f9f9f5;
  color: #41423e;
  border-radius: 10px;
  height: 2rem;
  width: 80%;
  font-size: inherit;
}

button:hover {
  background-color: #41423e;
  color: #f9f9f5;
}
