/*
colour palette
#686963 dim gray
#f9f9f5 (off-white)
*/

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    color : #41423e;
    background-color: #f9f9f5;
}

#menu_list{
    display : flex;
    flex-direction : row;
    list-style-type: none;
}

#latest_list{
    list-style-type: none;
    display : flex;
    flex-direction : row;
}